@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
body {
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Noto Serif TC", "sans-serif";
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C5A059;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  padding: 1rem 10rem;
  justify-content: space-between;
  top: 0;
  position: fixed;
  transition: all 0.6s;
  width: calc(100% - 20rem);
  z-index: 99;
}
@media all and (max-width: 1281px) {
  header {
    padding: 1rem 4rem;
    width: calc(100% - 8rem);
  }
}
@media all and (max-width: 431px) {
  header {
    padding: 1rem 2rem;
    width: calc(100% - 4rem);
  }
  header .muho {
    margin: auto;
  }
}
header .muho {
  width: 120px;
}
header.dark {
  background-color: #2F363E;
}
header .rlink {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
@media all and (max-width: 871px) {
  header .rlink {
    display: none;
  }
}
header .rlink li {
  margin: 0 0 0 30px;
  list-style-type: none;
  list-style: none;
}
header .rlink li a {
  color: #fff;
  display: block;
  letter-spacing: 0.05em;
  transition: all 0.6s;
}
header .rlink li a:hover {
  color: #C5A059;
}
header .rlink li:last-child a {
  padding: 4px 16px;
  border: 1px solid #C5A059;
  border-radius: 20px;
  color: #C5A059;
}

.slider-bg {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(12, 12, 12, 0.9) 0%, rgba(12, 12, 12, 0.6) 35%, rgba(12, 12, 12, 0) 100%), url(../image/bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
@media all and (max-width: 431px) {
  .slider-bg {
    background-image: linear-gradient(to bottom, rgba(12, 12, 12, 0.9) 0%, rgba(12, 12, 12, 0.6) 8%, rgba(12, 12, 12, 0) 55%), url(../image/phone.jpg);
    align-items: normal;
    background-attachment: scroll;
  }
}
.slider-bg .txt {
  padding: 0 0 0 10rem;
}
@media all and (max-width: 1281px) {
  .slider-bg .txt {
    padding: 0 0 0 4rem;
  }
}
@media all and (max-width: 431px) {
  .slider-bg .txt {
    padding: 28% 0 0 2rem;
  }
}
.slider-bg .txt h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  color: #fff;
  font-weight: 300;
  margin: 20px 0 0;
  font-weight: 500;
}
@media all and (max-width: 1281px) {
  .slider-bg .txt h1 {
    font-size: 4rem;
    margin: 10px 0 0;
  }
}
@media all and (max-width: 431px) {
  .slider-bg .txt h1 {
    font-size: 3rem;
  }
}
.slider-bg .txt p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #C5A059;
  letter-spacing: 0.2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
@media all and (max-width: 1281px) {
  .slider-bg .txt p {
    font-size: 1.2rem;
  }
}
.slider-bg .txt h2 {
  color: rgb(156, 163, 175);
  margin: 2rem 0 0;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.125em;
  font-weight: 500;
}
.slider-bg .txt .a-wrap {
  display: flex;
  padding: 0;
  margin: 0;
}
.slider-bg .txt .a-wrap li {
  margin: 0 20px 0 0;
  list-style-type: none;
}
.slider-bg .txt .a-wrap li a {
  width: 160px;
  height: 50px;
  background-color: #C5A059;
  border-radius: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  margin: 36px 0 0;
  display: block;
}

.try-wrap {
  background: #EDEDED;
  padding: 4rem 0 40px 0;
}
.try-wrap h2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.875em;
  margin-bottom: 4rem;
  font-weight: 600;
}
.try-wrap h2::before {
  content: "FIELD TEST";
  display: block;
  color: #C5A059;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.3em;
  margin: 0 0 0.75rem;
}
.try-wrap h2::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.25rem;
  background-color: #C5A059;
  margin: 1.5rem 0 0;
}
.try-wrap .listwrap {
  display: flex;
  justify-content: center;
  margin: 36px 0 0;
  flex-wrap: wrap;
}
.try-wrap .listwrap .list {
  display: flex;
  flex-direction: column;
  margin: 0 50px 30px 50px;
  align-items: center;
  width: 180px;
}
.try-wrap .listwrap .list:last-child .icon img {
  width: 110px;
  height: auto;
}
.try-wrap .listwrap .list .icon {
  width: 180px;
  height: 180px;
  border-radius: 200px;
  background: #2F363E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.try-wrap .listwrap .list .icon img {
  height: 90px;
}
.try-wrap .listwrap .list .title {
  font-size: 1.125em;
  color: #1A1B18;
  text-align: center;
  margin: 22px 0 10px 0;
}
.try-wrap .listwrap .list .title::before, .try-wrap .listwrap .list .title::after {
  display: none;
}
.try-wrap .listwrap .list p {
  font-size: 0.9375em;
  color: #777;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}
.try-wrap .btnwrap {
  display: flex;
  justify-content: center;
}
.try-wrap .btnwrap a {
  display: block;
  margin: 12px 12px 0 12px;
  width: 160px;
  height: 50px;
  background: #C5A059;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  font-weight: 500;
  transition: all 0.6s;
}
.try-wrap .btnwrap a:hover {
  background-color: #ebca8d;
}

.try-coffee {
  background-image: url(../image/trymuho.jpg);
  background-size: cover;
  background-position: center right;
  width: calc(100% - 8rem);
  padding: 5rem 10rem 5rem 10rem;
  height: 600px;
}
@media all and (max-width: 1281px) {
  .try-coffee {
    padding: 4rem;
    background-position: center right -180px;
  }
}
@media all and (max-width: 871px) {
  .try-coffee {
    padding: 4rem;
    background-image: url(../image/trymuho-d.jpg);
    background-position: bottom center;
    height: -moz-fit-content;
    height: fit-content;
    padding: 4rem 2rem 2rem 2rem;
    width: calc(100% - 4rem);
  }
}
.try-coffee h2 {
  font-size: 3.375em;
  color: #2f363e;
  padding: 0;
  margin: 0;
}
@media all and (max-width: 431px) {
  .try-coffee h2 {
    font-size: 2.8125em;
  }
}
.try-coffee p {
  margin: 16px 0 20px 0;
  color: #A3803D;
  font-size: 1.625em;
  line-height: 1.6;
  font-family: "Noto Sans TC", sans-serif;
}
@media all and (max-width: 431px) {
  .try-coffee p {
    font-size: 1.375em;
  }
}
.try-coffee .gray {
  font-size: 1.125em;
  color: #555;
  line-height: 2;
  font-family: "Noto Sans TC", sans-serif;
}
@media all and (max-width: 431px) {
  .try-coffee .gray {
    font-size: 1em;
  }
}
.try-coffee .price {
  display: flex;
  font-size: 4.75em;
  color: #D9A14C;
  font-family: "Noto Sans TC", sans-serif;
  align-items: baseline;
  letter-spacing: -0.02em;
}
.try-coffee .price::before {
  content: "NT";
  display: block;
  color: #D9A14C;
  font-size: 0.5526315em;
}
.try-coffee .price::after {
  content: "賣貨便免運中";
  display: block;
  color: #D9A14C;
  font-size: 0.3em;
  margin: 0 0 0 8px;
}
.try-coffee .btnwrap {
  display: flex;
  margin: 16px 0 0;
}
@media all and (max-width: 431px) {
  .try-coffee .btnwrap {
    width: 100%;
    flex-direction: column;
  }
}
.try-coffee .btnwrap a {
  display: block;
  width: 180px;
  height: 55px;
  background-color: #D9A14C;
  color: #fff;
  line-height: 55px;
  text-align: center;
  font-size: 1.125em;
  border-radius: 100px;
  margin: 0 18px 0 0;
  font-family: "Noto Sans TC", sans-serif;
}
.try-coffee .btnwrap a:nth-child(2) {
  background-color: transparent;
  border: 1px solid #D9A14C;
  color: #2F363E;
}
@media all and (max-width: 431px) {
  .try-coffee .btnwrap a {
    width: 100%;
    margin: 0 0 16px;
  }
}
.try-coffee .note {
  margin: 10px 0 0;
  font-size: 1.125em;
  color: #555;
  display: block;
  font-family: "Noto Sans TC", sans-serif;
}
.try-coffee .fav {
  display: flex;
  background-color: #30373F;
  border-radius: 10px;
  margin: 24px 0 0;
  width: -moz-fit-content;
  width: fit-content;
}
@media all and (max-width: 951px) {
  .try-coffee .fav {
    flex-direction: column;
    width: 100%;
  }
}
.try-coffee .fav .list {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  position: relative;
}
.try-coffee .fav .list:last-child::after {
  display: none;
}
.try-coffee .fav .list::after {
  content: "";
  display: block;
  width: 1px;
  height: 46px;
  position: absolute;
  right: 0;
  top: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}
@media all and (max-width: 951px) {
  .try-coffee .fav .list::after {
    width: 90%;
    height: 1px;
    bottom: 0;
    left: 50%;
    margin-left: -45%;
    top: inherit;
  }
}
.try-coffee .fav .list img {
  width: 40px;
  height: auto;
  margin: 0 16px 0 0;
}
.try-coffee .fav .list .txt {
  display: block;
}
.try-coffee .fav .list .txt h6 {
  font-size: 1.375em;
  color: #D9A14C;
  padding: 0;
  margin: 0;
}
.try-coffee .fav .list .txt p {
  padding: 0;
  font-size: 1em;
  margin: 6px 0 0;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
}

.feature-wrap {
  padding: 4rem 10rem;
  display: inline-block;
}
@media all and (max-width: 1281px) {
  .feature-wrap {
    padding: 4rem;
  }
}
@media all and (max-width: 431px) {
  .feature-wrap {
    padding: 4rem 2rem;
  }
}
.feature-wrap h2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.875em;
  margin-bottom: 4rem;
  font-weight: 600;
}
.feature-wrap h2::before {
  content: "CORE FEATURES";
  display: block;
  color: #C5A059;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.3em;
  margin: 0 0 0.75rem;
}
.feature-wrap h2 p {
  letter-spacing: 0.025em;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1.5rem;
  display: contents;
}
.feature-wrap h2 p::before {
  content: "";
  display: block;
  width: 6rem;
  height: 0.25rem;
  background-color: #C5A059;
  margin: 1.5rem 0 0;
}
.feature-wrap .card-wrap {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  justify-content: flex-start; /* 靠左對齊 */
  gap: 18px;
}
.feature-wrap .card-wrap .bg-muho-card {
  padding: 2rem;
  width: calc(33.333% - 3rem - 36px);
  border-radius: 0.75rem;
  border: 1px solid #C5A059;
  margin: 0 0 18px;
  transition: all 0.6s;
}
@media all and (max-width: 871px) {
  .feature-wrap .card-wrap .bg-muho-card {
    width: calc(50% - 3rem - 36px);
  }
}
@media all and (max-width: 431px) {
  .feature-wrap .card-wrap .bg-muho-card {
    width: 100%;
    gap: 0;
  }
}
.feature-wrap .card-wrap .bg-muho-card:hover {
  border: 1px solid #ebca8d;
}
.feature-wrap .card-wrap .bg-muho-card:hover .icon {
  transform: scale(1.2);
}
.feature-wrap .card-wrap .bg-muho-card .icon {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #C5A059;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
}
.feature-wrap .card-wrap .bg-muho-card .icon i {
  width: 14px;
  height: 14px;
  display: block;
}
.feature-wrap .card-wrap .bg-muho-card .icon svg {
  color: #fff;
  stroke-width: 1.5;
}
.feature-wrap .card-wrap .bg-muho-card h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
}
.feature-wrap .card-wrap .bg-muho-card p {
  line-height: 1.625;
  font-family: "Noto Sans TC", sans-serif;
}
.feature-wrap .card-wrap .bg-muho-card p span {
  color: #C5A059;
}

.specs-wrap {
  padding: 4rem 10rem;
  background-color: rgb(17, 13, 14);
}
@media all and (max-width: 1281px) {
  .specs-wrap {
    padding: 4rem;
  }
}
@media all and (max-width: 431px) {
  .specs-wrap {
    padding: 4rem 1rem;
  }
}
.specs-wrap h2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 1.875em;
  margin-bottom: 4rem;
  font-weight: 600;
}
.specs-wrap h2::before {
  content: "SPECIFICATION";
  display: block;
  color: #C5A059;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.3em;
  margin: 0 0 0.75rem;
}
.specs-wrap h2::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.25rem;
  background-color: #C5A059;
  margin: 1.5rem 0 0;
}
.specs-wrap ul {
  padding: 3rem;
  margin: 0 auto;
  width: 80%;
  background-color: rgba(22, 22, 22, 0.8);
  border-color: rgba(31, 41, 55, 0.5);
  border-radius: 10px;
}
@media all and (max-width: 431px) {
  .specs-wrap ul {
    width: calc(100% - 1rem);
    padding: 0 0.5rem;
  }
}
.specs-wrap ul li {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  padding: 8px 0;
  color: #EDEDED;
}
.specs-wrap ul li span {
  padding: 18px 0;
  display: flex;
  align-items: center;
  font-size: 1.125em;
}
.specs-wrap ul li span svg {
  width: 18px;
  color: #C5A059;
  margin: 0 8px 0 0;
}
.specs-wrap ul li span:first-child {
  min-width: 120px;
  margin: 0 10% 0 0;
  font-size: 1em;
}
@media all and (max-width: 431px) {
  .specs-wrap ul li span:first-child {
    min-width: 90px;
    margin: 0 5% 0 0;
  }
}

.experience {
  background-color: rgb(10, 10, 10);
  padding: 6rem 10rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
@media all and (max-width: 1281px) {
  .experience {
    padding: 6rem 4rem;
  }
}
@media all and (max-width: 871px) {
  .experience {
    flex-direction: column;
  }
}
@media all and (max-width: 431px) {
  .experience {
    padding: 4rem 2rem;
    gap: 2rem;
  }
}
.experience .info {
  display: block;
  width: 50%;
}
@media all and (max-width: 871px) {
  .experience .info {
    width: 100%;
  }
}
.experience .info h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #C5A059;
  color: #fff;
  padding: 0;
  margin-bottom: 1.5rem;
}
.experience .info h3::before {
  content: "SMART EXPERIENCE";
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #C5A059;
  margin-bottom: 0.75rem;
  letter-spacing: 0.3em;
}
.experience .info h3 span {
  color: rgb(156, 163, 175);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  margin-top: 0.5rem;
}
.experience .info p {
  color: rgb(156, 163, 175);
  line-height: 1.625;
  font-weight: 300;
  margin-bottom: 2rem;
}
.experience .info button {
  color: #C5A059;
  font-size: 1.125em;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
}
.experience .info button svg {
  width: 20px;
  margin: 0 12px 0 0;
}
.experience .canvas {
  position: relative;
}
.experience .canvas .stxt {
  position: absolute;
  right: 0;
  top: -10px;
  display: flex;
}
.experience .canvas .stxt span {
  font-size: 0.75em;
  color: rgb(107, 114, 128);
  display: flex;
  align-items: center;
  margin: 0 0 0 12px;
}
.experience .canvas .stxt span::before {
  content: "";
  width: 12px;
  height: 4px;
  border-radius: 10px;
  background-color: rgb(239, 68, 68);
  margin: 0 5px 0 0;
}
.experience .canvas .stxt span:nth-child(2)::before {
  background-color: rgb(197, 160, 89);
}
.experience .canvas canvas {
  width: 100%; /* 佔滿父容器 */
  height: auto;
}
.experience .canvas #roastChart {
  border: 1px solid rgb(31, 41, 55);
  border-radius: 8px;
}

.preorder {
  width: calc(100% - 20rem);
  height: 800px;
  background-image: url(../image/preorder.png);
  background-position: center right 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 10rem 4rem 10rem;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 1281px) {
  .preorder {
    padding: 6rem 4rem 4rem 4rem;
    width: calc(100% - 8rem);
    background-position: center right 35%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media all and (max-width: 431px) {
  .preorder {
    padding: 4rem 2rem 2rem 2rem;
    width: calc(100% - 4rem);
    background-image: url(../image/phone-d.jpg);
    height: -moz-fit-content;
    height: fit-content;
  }
}
.preorder p {
  color: #C5A059;
  font-size: 0.9375em;
  letter-spacing: 0.2em;
}
.preorder h3 {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 3.4em;
  font-weight: 500;
  letter-spacing: 0.16em;
}
.preorder span {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 0.56em;
  margin: 12px 0 32px 0;
}
.preorder .label {
  width: 120px;
  height: 34px;
  background-color: #C5A059;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  line-height: 34px;
  letter-spacing: 0.2em;
}
.preorder .infotxt {
  color: #fff;
  font-size: 1em;
  margin: 12px 0 24px 0;
  letter-spacing: 0.18em;
}
.preorder .pricetxt {
  font-size: 2.4em;
  color: #C5A059;
  margin: 0 0 24px;
  display: flex;
  align-items: baseline;
}
.preorder .pricetxt::before {
  content: "NT$";
  display: block;
  font-size: 0.65em;
  margin: 0 8px 0 0;
}
.preorder .pricetxt p {
  text-decoration: line-through;
  color: #EDEDED;
  margin: 0 0 0 20px;
  font-size: 0.4em;
  letter-spacing: 0.15em;
}
.preorder .gift {
  margin: 24px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.preorder .gift img {
  width: 50px;
  margin: auto;
}
.preorder .gift p {
  color: #fff;
  text-align: center;
}
.preorder a {
  width: 180px;
  height: 46px;
  background-color: #C5A059;
  border-radius: 50px;
  color: #fff;
  line-height: 46px;
  text-align: center;
  margin: 55px 0 0;
  display: block;
}
.preorder h6 {
  font-size: 1.125em;
  color: #fff;
  padding: 0;
  margin: 16px 0 0;
  letter-spacing: 0.2em;
}
.preorder span {
  font-size: 0.9375em;
  color: #fff;
}

.location {
  background-color: #eeeeef;
  padding: 4rem 10rem;
  display: block;
}
@media all and (max-width: 1281px) {
  .location {
    padding: 4rem;
    width: calc(100% - 8rem);
  }
}
@media all and (max-width: 431px) {
  .location {
    padding: 4rem 2rem;
    width: calc(100% - 4rem);
  }
}
.location h2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.875em;
  margin-bottom: 4rem;
  font-weight: 600;
}
@media all and (max-width: 431px) {
  .location h2 {
    margin-bottom: 2rem;
  }
}
.location h2::before {
  content: "OUR LOCATION";
  display: block;
  color: #C5A059;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.3em;
  margin: 0 0 0.75rem;
}
.location h2 p {
  letter-spacing: 0.025em;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1.5rem;
  display: contents;
}
.location h2 p::before {
  content: "";
  display: block;
  width: 6rem;
  height: 0.25rem;
  background-color: #C5A059;
  margin: 1.5rem 0 0;
}
.location .info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media all and (max-width: 431px) {
  .location .info {
    flex-direction: column;
  }
}
.location .info .ltxt {
  margin: 0;
  padding: 0;
}
.location .info .ltxt li {
  display: flex;
  margin: 0 0 32px;
  font-family: "Noto Sans TC", sans-serif;
}
.location .info .ltxt li svg {
  color: #C5A059;
  stroke-width: 1.5;
  width: 28px;
  margin: 0 8px 0 0;
}
.location .info .ltxt li p {
  color: #1A1B18;
  font-weight: 600;
}
.location .info .ltxt li p span {
  color: #2F363E;
  font-weight: 300;
}
.location .info .ltxt li p span a {
  color: #2F363E;
  text-decoration: underline;
}
.location .info .rmap {
  width: 60%;
  height: 400px;
}
@media all and (max-width: 431px) {
  .location .info .rmap {
    width: 100%;
  }
}
.location .info .rmap iframe {
  width: 100%;
  height: 400px;
}

.last-wrap {
  background-color: #2F363E;
  display: block;
  padding: 4rem 10rem;
}
@media all and (max-width: 1281px) {
  .last-wrap {
    padding: 4rem;
    width: calc(100% - 8rem);
  }
}
@media all and (max-width: 431px) {
  .last-wrap {
    padding: 4rem 2rem;
    width: calc(100% - 4rem);
  }
}
.last-wrap h2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #C5A059;
  font-size: 1.875em;
  margin-bottom: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.last-wrap h2 p {
  letter-spacing: 0.025em;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0;
  display: contents;
  color: #fff;
  letter-spacing: 0.2em;
}
.last-wrap span {
  color: #EDEDED;
  text-align: center;
  line-height: 1.8;
  width: 100%;
  display: block;
  font-size: 1.125em;
  letter-spacing: 0.05em;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}
.last-wrap .icon-wrap {
  display: flex;
  justify-content: center;
  margin: 42px 0 0;
}
@media all and (max-width: 431px) {
  .last-wrap .icon-wrap {
    flex-wrap: wrap;
  }
}
.last-wrap .icon-wrap .list {
  border-right: 1px solid #C5A059;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
}
@media all and (max-width: 871px) {
  .last-wrap .icon-wrap .list {
    padding: 0 15px;
  }
}
@media all and (max-width: 431px) {
  .last-wrap .icon-wrap .list {
    width: calc(50% - 31px);
    margin: 0 0 16px;
  }
}
.last-wrap .icon-wrap .list svg {
  color: #C5A059;
  stroke-width: 0.5;
  margin: 0 0 32px;
}
.last-wrap .icon-wrap .list p {
  color: #fff;
}
.last-wrap .icon-wrap .list:last-child {
  border: none;
}
@media all and (max-width: 871px) {
  .last-wrap .icon-wrap .list:nth-child(2) {
    border: none;
  }
}
.last-wrap .fb {
  display: block;
  margin: 40px 0 0;
  position: relative;
  padding: 24px 0 0;
}
.last-wrap .fb::before {
  content: "";
  display: block;
  width: 228px;
  height: 5px;
  background-image: url(../image/line.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -114px;
}
.last-wrap .fb span {
  color: #fff;
  font-family: "Noto Serif TC", "sans-serif";
  letter-spacing: 0.2rem;
  font-size: 1.35em;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.last-wrap .fb span a {
  display: block;
}
.last-wrap .fb span a img {
  width: 30px;
  margin: 0 0 0 20px;
  display: block;
}

footer {
  font-family: "Noto Sans TC", "sans-serif";
  background-color: #2f363e;
  color: #fff;
  box-shadow: 0 -1px 40px 0 rgba(0, 0, 0, 0.3);
}
footer .top {
  display: flex;
  padding: 1.8rem 10rem;
}
@media all and (max-width: 1281px) {
  footer .top {
    padding: 1.2rem 4rem;
    display: flex;
  }
}
@media all and (max-width: 431px) {
  footer .top {
    padding: 1.2rem 2rem;
    width: calc(100% - 4rem);
    flex-direction: column;
  }
}
footer .top ul {
  padding: 0;
  margin: 0 55px 0 0;
}
@media all and (max-width: 431px) {
  footer .top ul {
    margin: 0 0 24px;
  }
}
footer .top ul:last-child {
  margin: 0 0 0 auto;
}
@media all and (max-width: 431px) {
  footer .top ul:last-child {
    margin: 0;
  }
}
footer .top ul:last-child li {
  align-items: center;
  display: flex;
  margin: 0 0 12px 0;
  font-size: 0.9375em;
  letter-spacing: 0.07em;
  color: rgba(255, 255, 255, 0.7);
}
footer .top ul:last-child li i {
  width: 14px;
  height: 14px;
}
footer .top ul:last-child li svg {
  color: #C5A059;
  width: 16px;
  margin: 0 8px 0 0;
}
footer .top ul li.title {
  font-size: 1em;
  margin: 0 0 14px;
  color: #fff;
  letter-spacing: 0.08em;
}
footer .top ul li a {
  display: block;
  font-size: 1.0625em;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.6s;
}
footer .top ul li a:hover {
  color: white;
}
footer .top ul li a img {
  width: 24px;
}
footer .top ul li a.mar {
  margin: 0 14px 0 0;
}
footer .top ul li.fl {
  display: flex;
}
footer .copyright {
  border-top: 1px solid #585C5F;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 0.875em;
  line-height: 1.5;
}

/*about*/
.about {
  position: relative;
  background-image: url(../image/about.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  margin: 74px 0 0;
}
.about::before {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
@media all and (max-width: 431px) {
  .about {
    display: block;
  }
}
.about main {
  padding: 50px 80px 20px 60px;
  background-color: #fff;
  float: right;
  width: calc(55.55% - 140px);
  height: calc(100% - 70px);
  overflow-y: scroll;
}
.about main::before {
  display: none;
}
@media all and (max-width: 1281px) {
  .about main {
    width: calc(65% - 100px);
    padding: 50px 50px 20px 50px;
  }
}
@media all and (max-width: 431px) {
  .about main {
    width: calc(100% - 100px);
    padding: 50px 50px 20px 50px;
    height: auto;
  }
}
.about main h1 {
  color: #2F363E;
  font-size: 2.75em;
  padding: 0;
  margin: 0 0 22px;
}
.about main p {
  color: #5B5A5A;
  font-family: "Noto Sans TC", "sans-serif";
  line-height: 1.8;
}
.about main .btn-wrap {
  position: relative;
  display: flex;
  margin: 36px 0 0;
  flex-wrap: wrap;
}
.about main .btn-wrap a {
  padding: 0 28px;
  height: 50px;
  background-color: #c5a059;
  border-radius: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  margin: 0 10px 16px 0;
  display: block;
  white-space: nowrap;
}
@media all and (max-width: 871px) {
  .about main .btn-wrap a {
    width: 100%;
    padding: 0;
  }
}

/*faq*/
.faq {
  position: relative;
  margin: 78px 0 0;
}
.faq .topbg {
  background-image: url(../image/faqbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 405px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 871px) {
  .faq .topbg {
    height: 205px;
  }
}
.faq .topbg h1 {
  color: #fff;
  font-size: 2.75em;
  padding: 0;
  margin: 0;
  text-align: center;
}
@media all and (max-width: 871px) {
  .faq .topbg h1 {
    font-size: 2em;
  }
}
.faq .topbg h1 p {
  padding: 0;
  margin: 8px 0 0;
  font-size: 0.54545454em;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}
.faq main {
  position: relative;
  padding: 32px 0 50px 0;
}
.faq main .accordion {
  width: 680px;
  margin: auto;
}
@media all and (max-width: 871px) {
  .faq main .accordion {
    width: 90%;
  }
}
.faq main .accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #C5A059;
}
.faq main .accordion button {
  position: relative;
  display: flex;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #333;
  font-size: 1.25em;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  align-items: center;
}
@media all and (max-width: 871px) {
  .faq main .accordion button {
    align-items: flex-start;
  }
}
.faq main .accordion button:hover, .faq main .accordion button:focus {
  cursor: pointer;
  color: #C5A059;
}
.faq main .accordion button:hover::after, .faq main .accordion button:focus::after {
  cursor: pointer;
  color: #C5A059;
  border: 1px solid #C5A059;
}
.faq main .accordion button .accordion-title {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  color: #333;
  font-family: "Noto Serif TC", "sans-serif";
}
.faq main .accordion button .icon {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #C5A059;
  border-radius: 22px;
  margin: 0 16px 0 0;
}
@media all and (max-width: 871px) {
  .faq main .accordion button .icon {
    flex: 0 0 auto;
    margin: 7px 16px 0 0;
  }
}
.faq main .accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 11px;
  left: 6px;
  width: 12px;
  height: 1px;
  background-color: #C5A059;
}
.faq main .accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 11.5px;
  width: 1px;
  background-color: #C5A059;
  height: 12px;
}
.faq main .accordion button[aria-expanded=true] h2 {
  color: #C5A059;
}
.faq main .accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.faq main .accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 600ms linear;
  will-change: opacity, max-height;
}
.faq main .accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.faq main .accordion .accordion-content p {
  font-size: 1em;
  font-weight: 400;
  margin: 1.5em 0 2em 40px;
  font-family: "Noto Sans TC", sans-serif;
}

/*try*/
.try {
  position: relative;
  margin: 78px 0 0;
}
.try .topbg {
  background-image: url(../image/trybg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 405px;
  display: block;
}
@media all and (max-width: 871px) {
  .try .topbg {
    background-position: center right;
  }
}
@media all and (max-width: 431px) {
  .try .topbg {
    background-position: center right -220px;
  }
}
.try .topbg .inner {
  width: 950px;
  margin: 78px auto 0 auto;
}
@media all and (max-width: 1281px) {
  .try .topbg .inner {
    width: calc(100% - 8rem);
  }
}
@media all and (max-width: 431px) {
  .try .topbg .inner {
    width: calc(100% - 4rem);
  }
}
.try .topbg .inner h1 {
  font-size: 4.125em;
  padding: 60px 0 0;
  margin: 0;
  color: #2F363E;
}
@media all and (max-width: 951px) {
  .try .topbg .inner h1 {
    font-size: 3.25em;
  }
}
@media all and (max-width: 431px) {
  .try .topbg .inner h1 {
    padding: 30px 0 0;
    font-size: 2.625em;
  }
}
.try .topbg .inner p {
  font-size: 1.875em;
  color: #2F363E;
  line-height: 1.6;
  font-family: "Noto Sans TC", sans-serif;
  margin: 6px 0 0;
}
@media all and (max-width: 951px) {
  .try .topbg .inner p {
    font-size: 1.5em;
  }
}
@media all and (max-width: 431px) {
  .try .topbg .inner p {
    font-size: 1em;
  }
}
.try .topbg .inner .price {
  display: flex;
  align-items: end;
  font-family: "Noto Sans TC", sans-serif;
  flex-wrap: wrap;
}
@media all and (max-width: 431px) {
  .try .topbg .inner .price {
    margin: 35px 0 0;
  }
}
.try .topbg .inner .price::before {
  display: block;
  content: "限量試喝價";
  padding: 10px 30px 12px 30px;
  background-color: #D9A14C;
  border-radius: 50px;
  margin: 0 22px 0 0;
  color: #fff;
  font-size: 1.75em;
  letter-spacing: 0.05em;
  white-space: nowrap;
}
@media all and (max-width: 431px) {
  .try .topbg .inner .price::before {
    font-size: 1.125em;
  }
}
.try .topbg .inner .price span {
  color: #D9A14C;
  font-size: 2.625em;
  margin: 0 6px 0 0;
  text-shadow: 4px 4px 10px #fff;
}
@media all and (max-width: 431px) {
  .try .topbg .inner .price span {
    display: none;
  }
}
.try .topbg .inner .price .num {
  color: #D9A14C;
  font-size: 5em;
  text-shadow: 4px 4px 10px #fff;
  letter-spacing: -0.02em;
  line-height: 135%;
}
.try main {
  position: relative;
  padding: 50px 0;
  width: 950px;
  margin: auto;
}
@media all and (max-width: 1281px) {
  .try main {
    width: calc(100% - 8rem);
  }
}
@media all and (max-width: 431px) {
  .try main {
    padding: 35px 0;
    width: calc(100% - 4rem);
  }
}
.try main h2 {
  font-size: 2em;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
}
.try main h2::after {
  display: block;
  content: "精選豆款將不定期更新";
  color: #fff;
  background-color: #2F363E;
  padding: 0 20px;
  border-radius: 6px;
  font-family: "Noto Sans TC", sans-serif;
  margin: 0 0 0 16px;
  font-size: 0.5em;
  font-weight: 300;
  letter-spacing: 0.05em;
  flex: 0 0 auto;
  height: 40px;
  line-height: 40px;
}
@media all and (max-width: 951px) {
  .try main h2::after {
    margin: 0;
  }
}
@media all and (max-width: 431px) {
  .try main h2::after {
    margin: 8px 0 0;
  }
}
.try main p {
  font-size: 1.125em;
  line-height: 2;
  color: #2F363E;
  font-family: "Noto Sans TC", sans-serif;
  margin: 10px 0 50px 0;
}
@media all and (max-width: 431px) {
  .try main p {
    font-size: 1em;
  }
}
.try main .item-wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media all and (max-width: 1281px) {
  .try main .item-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.try main .item-wrap .item {
  display: block;
  width: 260px;
}
@media all and (max-width: 1281px) {
  .try main .item-wrap .item {
    margin: 0 15px 30px 15px;
  }
}
@media all and (max-width: 431px) {
  .try main .item-wrap .item {
    margin: 0 0 30px;
    width: 320px;
  }
}
.try main .item-wrap .item .img {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
@media all and (max-width: 431px) {
  .try main .item-wrap .item .img {
    width: 320px;
    height: 320px;
  }
}
.try main .item-wrap .item .img img {
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (max-width: 431px) {
  .try main .item-wrap .item .img img {
    width: 320px;
    height: 320px;
  }
}
.try main .item-wrap .item .img .flavor {
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px 15px;
  background-color: #D9A14C;
  color: #fff;
  border-radius: 0 10px 0 10px;
  font-size: 0.75em;
  font-family: "Noto Sans TC", sans-serif;
}
.try main .item-wrap .item h3 {
  font-size: 1.5em;
  margin: 16px 0 12px 0;
  padding: 0;
  color: #2F363E;
}
.try main .item-wrap .item p {
  font-size: 1em;
  color: rgba(47, 54, 62, 0.8);
  height: 30px;
}
.try main .item-wrap .item .star {
  margin: 13px 0 0;
  color: #000;
}
.try main .btn-wrap {
  margin: 60px 0 0;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 431px) {
  .try main .btn-wrap {
    margin: 40px 0 0;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.try main .btn-wrap a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2F363E;
  padding: 12px 0 8px 0;
  border-radius: 50px;
  border: 1px solid #D9A14C;
  margin: 0 23px;
  width: 210px;
  font-family: "Noto Sans TC", sans-serif;
}
.try main .btn-wrap a img {
  height: 16px;
  margin: 0 0 6px;
}
@media all and (max-width: 431px) {
  .try main .btn-wrap a {
    width: 100%;
    margin: 0 0 12px;
  }
}
.try main .whytry {
  height: 365px;
  background-image: url(../image/trybgd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 0 40px 54px;
  margin: 50px 0 0;
}
@media all and (max-width: 951px) {
  .try main .whytry {
    height: auto;
  }
}
@media all and (max-width: 431px) {
  .try main .whytry {
    padding: 35px 25px;
    margin: 35px 0 0;
    background-position: center right -400px;
  }
}
.try main .whytry h4 {
  color: #000;
  font-size: 2em;
  padding: 0;
  margin: 0;
}
.try main .whytry p {
  font-size: 1.1875em;
  font-family: "Noto Sans TC", sans-serif;
  width: 60%;
  padding: 0;
  margin: 0;
}
@media all and (max-width: 431px) {
  .try main .whytry p {
    width: 100%;
    font-size: 1em;
  }
}
.try main .whytry span {
  font-size: 1em;
  color: #2F363E;
  font-family: "Noto Sans TC", sans-serif;
  margin: 26px 0 0;
  width: 55%;
  display: block;
  line-height: 2;
}
@media all and (max-width: 431px) {
  .try main .whytry span {
    width: 100%;
    font-size: 0.9375em;
  }
}
.try main h5 {
  width: 100%;
  font-size: 2em;
  padding: 0 30px;
  margin: 50px auto 0 auto;
  position: relative;
  display: inline-block;
  text-align: center;
}
@media all and (max-width: 431px) {
  .try main h5 {
    padding: 0;
    margin: 32px auto 0 auto;
  }
}
.try main h5::before {
  content: "”";
  display: block;
  position: absolute;
  left: 13%;
  top: 0;
  transform: scaleX(-1);
}
@media all and (max-width: 1281px) {
  .try main h5::before {
    display: none;
  }
}
.try main h5::after {
  content: "”";
  display: block;
  position: absolute;
  right: 13.5%;
  bottom: -10px;
  transform: scaleX(-1);
  transform: rotate(180deg) scaleX(-1);
}
@media all and (max-width: 1281px) {
  .try main h5::after {
    display: none;
  }
}